@import '../../../../styles//variables.scss';

.filter-item {
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: $primary-bg;
    color: $filter-text;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    font-size: 14px;

    &:hover {
        background-color: #f5f5f5;
    }

    .filter-name {
        margin-left: 5px;
    }

}