@import '../../../styles/variables';

.tab-item{
  margin-right: 24px;
  padding: 12px 12px 20px 12px;
}

.tab-image{
  height: 40px;
  width: 40px;
}

.active-tab{
  border-bottom: 3px solid $zomato-red;
}

#tab-option-banner-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tab-option-banner {
  display: flex;
  justify-content: center;
}

#tab-option-banner > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-option-banner > div > p {
  color: black;
  font-weight: 500;
}
