$primary-color: #e91e63;
$secondary-color: #bbbbbb;

$white: #ffffff;
$primary-color: rgb(255,255,255);
$primary-bg: rgb(255,255,255);
$border-white: rgb(232,232,232);
$inactive-text: #696969;
$inactive-color: #f8f8f8;
$zomato-red: #E54F5F;
$filter-text: #9c9c9c;


$footer-bg-color: #24262b;
$social-link-bg-color: rgba(255, 255, 255, 0.2);

$primary-box-shadow: rgb(28, 28, 28, 8%) 0px 2px 8px;

// breakpoint
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;