$primary-color: #e91e63;
$secondary-color: #bbbbbb;
$white: #ffffff;

$footer-bg-color: #24262b;
$social-link-bg-color: rgba(255, 255, 255, 0.2);


// breakpoint
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
